<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{assets("favicon.png",{"type":"img"})}}" type="image/x-icon">
    <meta name="description" content="Ce site est un blog"> <!-- Meta Description -->
    <link rel="stylesheet" href="{{assets("style.css",{"type":"css"})}}">
    {# <link rel="stylesheet" href="{{asset("style.css")}}"> #}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="row">
        <div id="navbar">
            <ul id="navbar__menu">
                <li><a href="{{router.generate('index')}}" class="fromLeft">Accueil</a></li>
                <li><a href="{{router.generate('blog')}}" class="fromLeft">Blog</a></li>
                <li><a href="{{router.generate('contact')}}" class="fromLeft">Contact</a></li>
            </ul>
            <ul id="navbar__connect">
                {% if isConnect() %}
                    {% if isAdmin() %}
                        <li>
                            <a href="{{router.generate('admin_posts')}}">
                                <img src="{{assets("management.png",{"type":"img"})}}" class="navbar__img" alt="administration">
                            </a>
                        </li>
                    {% endif  %}
                    <li>
                        <form action="{{router.generate('logout',{},'POST')}}" method="post">
                            <button type="submit">
                                <img src="{{assets("power.png",{"type":"img"})}}" class="navbar__img" alt="deconnexion">
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{{router.generate('login')}}"><img src="{{assets("enter.png",{"type":"img"})}}" class="navbar__img" alt="signIn"></a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="row">
            <div class="footer footer__logo">
                <span class="footer__logo__title">Me contacter</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus modi in iste temporibus quibusdam maiores sequi, illum obcaecati quis deserunt magnam expedita suscipit aut incidunt reiciendis sunt, vero deleniti unde?
                </p>
            </div>
            <div class="footer footer__uselinks">
                <ul>
                    <li><a class="footer__uselinks__a" href="{{router.generate('index')}}">Accueil</a><li/>
                    <li><a class="footer__uselinks__a" href="{{router.generate('blog')}}">Blog</a></li>
                    <li><a class="footer__uselinks__a" href="{{router.generate('contact')}}">Contact</a></li>
                </ul>
                <div class="footer__socials">
                    <ul>
                        <li class="footer__socials__item"><a href="#" class="footer__socials__a">Dribbble</a><li/>
                        <li class="footer__socials__item"><a href="#" class="footer__socials__a">Twitter</a></li>
                        <li class="footer__socials__item"><a href="#" class="footer__socials__a">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>